1) Создать package sample.pluginSupport, в которм будет находится интерфейс Plugin
2) Реализовать интерфейс Plugin.
   Реализующий класс должен содержать поля, содержащие:
    - имя кодировки/плагина (getter - getEncodingName())
    - уникальный постфикс к расширению файла, по которому определяется примененный плагин (getter - getFileExtensionEnding())
3) Плагин помещать в папку src/plugins